main {
    background-color: #1E1F29;
    border-radius: 10px;
    padding: 48px;
    }

h1 {
    color: white;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    margin: 0px 0px 32px 0px;
    } 

label {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #AFB2BF;
    display: inline-block;
}
.backlabel {
    position: relative;
}
label {
    position: absolute;
    top: 12px;
    left: 48px;
}
input, textarea, select {
    background-color: #2E2D3D;
    border-width: 0;
    color: #FAFAFA;
    width: 617px;
    font-size: 16px;
    font-family:'Fira Sans', sans-serif;
    padding: 27px 48px 12px;
    border-radius: 10px;
}

input::placeholder, 
textarea::placeholder, 
select::placeholder {
    color: #2E2D3D;
    font-size: 16px;
}

button {
    width: 697px;
    height: 46px;
    background-color: #6C38CC;
    border-radius: 10px;
    margin: 0px 48px 48px 48px;
    border-width: 0;
    padding: 12px 24px;
    color: #FAFAFA;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}
button:hover {
    background-color: #48258a;
}